---
layout: compress
---
<!doctype html>
<html>

  <!-- Head goes here -->
  {% include head.html %}

  <body>

    <!-- Begin Pushy Menu -->
    <nav class="pushy pushy-right">
        <div class="pushy__inner">
          <ul>
            <li class="pushy-link"><h1 class="u-mb-vr-1 u-txt-center">Menü</h1></li>
            <li class="pushy-link"><a class="u-link-grey-light" href="#skills">Kompetenzen</a></li>
            <li class="pushy-link"><a class="u-link-grey-light" href="#impressionen">Impressionen</a></li>
            <li class="pushy-link"><a class="u-link-grey-light" href="#team">Team</a></li>
            <li class="pushy-link"><a class="u-link-grey-light" href="#contact">Kontakt</a></li>
        </ul>
        <div class="c-global-sep--tiny u-centered u-mb-vr-1 u-bg-grey"></div>
        <section class="o-flex-center--center has-wrap">
          <a class="o-flex-center--center o-ref__item" href="http://instagram.com" target="_blank">
            <svg class="i-instagram">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
          <a href="http://github.com">
            <svg class="i-github">
              <use xlink:href="#github"></use>
            </svg>
          </a>
          <a class="o-flex-center--center o-ref__item" href="http://instagram.com" target="_blank">
            <svg class="i-dribbble">
              <use xlink:href="#dribbble"></use>
            </svg>
          </a>
        </section>
        </div>
    </nav>
    <!-- End Pushy Menu -->

    <div class="c-nav-fixed">
      <!-- Begin Header Nav -->
      <nav class="o-flex-between--start c-nav-fixed__inner u-centered">

        <!-- Logo -->
        <div class="c-nav-left">
          <svg class="i-logo">
            <use xlink:href="#logo-klein"></use>
          </svg>
        </div>

        <!-- Main Nav -->
        <ul class="o-flex-between--center c-main-nav">
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#start"><span class="g-petel__item"></span>START</a></li>
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#skills"><span class="g-petel__item"></span>KOMPETENZEN</a></li>
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#impressionen"><span class="g-petel__item"></span>IMPRESSIONEN</a></li>
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#team"><span class="g-petel__item"></span>TEAM</a></li>
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#contact"><span class="g-petel__item"></span>KONTAKT</a></li>
        </ul>

        <!-- Nav Right -->
        <div class="o-flex-end--center c-nav-right">
          <svg class="i-search--mobile u-mr-vr-1 u-transparent">
            <use xlink:href="#search"></use>
          </svg>
          <div class="o-flex-center--center c-nav-right__menu-wrap u-bg-black">
            <a class="i-menu--mobile menu-btn">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <svg class="i-search u-mr-vr-1">
            <use xlink:href="#search"></use>
          </svg>
          <a class="i-menu menu-btn">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </nav>
      <!-- End Header Nav -->
    </div>

    <div class="site-overlay"></div>

    <!-- Begin Page Content -->
    <!-- <div id="container"> -->

    <!-- Begin Page Header -->
    <header id="start"class="e-header js-min-height">

      <!-- Begin Slick Slider -->
      <div class="o-slick js-slick js-min-height">

        <div class="js-min-height oculus">
          <div class="o-slick-slide">
            <div class="o-slick-slide__title">
              <h1>Oculus Experience Travel</h1>
              <h3 class="u-txt-white">Ein Frontend-Design &amp; Konzeptions Projekt</h3>
            </div>
          </div>
        </div>

        <div class="js-min-height letter">
          <div class="o-slick-slide">
            <div class="c-gradient-top"></div>
            <div class="c-gradient-bottom"></div>
            <div class="o-slick-slide__title">
              <h1>Messmer Pen GmbH - Karriere</h1>
              <h3 class="u-txt-white">Gestaltung &amp; Technik in perfektem Einklang</h3>
            </div>
          </div>
        </div>

        <div class="js-min-height oculus">
          <div class="o-slick-slide">
            <div class="o-slick-slide__title">
              <h1>Oculus Experience Travel</h1>
              <h3 class="u-txt-white">Ein Frontend-Design &amp; Konzeptions Projekt</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- End Slick Slider -->

      <!-- Begin Hero -->
      <section class="c-hero">

          <!-- Begin Header Nav -->
          <nav class="o-flex-between--start">

            <!-- Logo -->
            <div class="c-nav-left">
              <svg class="i-logo">
                <use xlink:href="#logo-klein"></use>
              </svg>
            </div>

            <!-- Main Nav -->
            <ul class="o-flex-between--center c-main-nav">
              <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#start">START</a></li>
              <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#skills">KOMPETENZEN</a></li>
              <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#impressionen">IMPRESSIONEN</a></li>
              <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#team">TEAM</a></li>
              <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#contact">KONTAKT</a></li>
            </ul>

            <!-- Nav Right -->
            <div class="o-flex-end--center c-nav-right">
              <svg class="i-search u-mr-vr-1">
                <use xlink:href="#search"></use>
              </svg>
              <a class="i-menu menu-btn">
                <span></span>
                <span></span>
                <span></span>
              </a>
            </div>
          </nav>
          <!-- End Header Nav -->
      </section>
      <!-- End Hero -->
    </header>
    <!-- End Page Header -->

    <!-- Content goes here -->
    {{ content }}

    <!-- Footer goes here -->
    {% include footer.html %}

  </body>
</html>
