---
layout: compress
---
<!doctype html>
<html>

  <!-- Head goes here -->
  {% include head.html %}

  <body>

    <!-- Begin Pushy Menu -->
    <nav class="pushy pushy-right">
        <div class="pushy__inner">
          <ul>
            <li class="pushy-link"><h1 class="u-mb-vr-1 u-txt-center">Menü</h1></li>
            <li class="pushy-link"><a class="u-link-grey-lightest" href="#skills">Kompetenzen</a></li>
            <li class="pushy-link"><a class="u-link-grey-lightest" href="#impressionen">Impressionen</a></li>
            <li class="pushy-link"><a class="u-link-grey-lightest" href="#team">Team</a></li>
            <li class="pushy-link"><a class="u-link-grey-lightest" href="#contact">Kontakt</a></li>
        </ul>
        <div class="c-global-sep--tiny has-dark-bg u-centered u-mb-vr-1 u-bg-grey"></div>

        <a class="u-link-grey-lightest u-mb-vr-1" href="#modal-not-available">Blog</a>

        <div class="c-global-sep--tiny has-dark-bg u-centered u-mb-vr-1 u-bg-grey"></div>

        <section class="o-flex-center--center has-wrap">
          <a class="o-flex-center--center" href="http://instagram.com" target="_blank">
            <svg class="i-instagram">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
          <a class="o-flex-center--center" href="https://github.com/Blazingsonic/bymagellan">
            <svg class="i-github">
              <use xlink:href="#github"></use>
            </svg>
          </a>
          <a class="o-flex-center--center" href="http://instagram.com" target="_blank">
            <svg class="i-dribbble">
              <use xlink:href="#dribbble"></use>
            </svg>
          </a>
        </section>
        </div>
    </nav>
    <!-- End Pushy Menu -->

    <div id="fixed-nav" class="c-nav-fixed">
      <!-- Begin Header Nav -->
      <nav class="o-flex-between--start c-nav-fixed__inner u-centered">

        <!-- Logo -->
        <div class="c-nav-left">
          <svg class="i-logo--symbol">
            <use xlink:href="#branding-symbol"></use>
          </svg>
          <span class="c-nav-left__petel petel-bg"></span>
        </div>

        <!-- Main Nav -->
        <ul class="o-flex-between--center c-main-nav">
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#start"><span class="g-petel__item"></span>START</a></li>
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#skills"><span class="g-petel__item"></span>KOMPETENZEN</a></li>
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#impressionen"><span class="g-petel__item"></span>IMPRESSIONEN</a></li>
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#team"><span class="g-petel__item"></span>TEAM</a></li>
          <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#contact"><span class="g-petel__item"></span>KONTAKT</a></li>
        </ul>

        <!-- Nav Right -->
        <div class="o-flex-end--center c-nav-right">
          <svg class="i-search">
            <use xlink:href="#search"></use>
          </svg>
          <div class="o-flex-center--center c-nav-right__menu-wrap u-bg-black">
            <button class="gh-svg-wrapper menu-btn">
              <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="gh-svg gh-svg-top" enable-background="new 0 0 96 96">
                <rect width="32" height="4" x="32" y="46" class="gh-svg-rect gh-svg-rect-top"></rect>
              </svg>
              <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="gh-svg gh-svg-bottom" enable-background="new 0 0 96 96">
                <rect width="32" height="4" x="32" y="46" class="gh-svg-rect gh-svg-rect-bottom"></rect>
              </svg>
            </button>
          </div>
        </div>
      </nav>
      <!-- End Header Nav -->
    </div>

    <div class="site-overlay"></div>

    <!-- Content goes here -->
    {{ content }}

    <!-- Footer goes here -->
    {% include footer.html %}

  </body>
</html>
