---
layout: 'default'
title: 'Made By Magellan'
description: 'Unser Ziel ist es, branchenbeste digitale Produkte und Dienstleistungen anzubieten. Das erreichen wir durch unsren breiten Wissenschatz und langjähriger Erfahrung sowie ständiger Weiterentwicklung. Wir möchten, dass Sie mit unseren Produkten und Dienstleistungen stets 100% zufrieden sind. Dafür geben wir auch gerne die Extrameile.'
---

<!-- Begin Hero -->
<header id="start" class="e-header e-header--project js-min-height">

  <div class="js-min-height {{ page.headerclass }}">

    <!-- <div class="u-bg-darken-025 js-min-height"> -->

      <div class="c-hero--static u-centered">

        {% include header-nav.html %}

        <div class="c-hero--static__title u-txt-center">
          <h1>{{ page.headertitle }}</h1>
          <h3 class="u-txt-white">{{ page.headersubtitle }}</h3>
        </div>
      </div>
    <!-- </div> -->
  </div>
</header>
<!-- End Hero -->

<!-- Begin Main -->
<main id="project-page">

  <section class="o-flex-between--start c-showroom u-centered">
    <article class="c-showroom__center">
      <div class="c-showroom__top-text u-txt-white">
      <p class="u-serif-sm u-mb-vr-05">{{ page.subtitle }}</p>
      <h4 class="u-txt-white">{{ page.headerdate }}</h4>
      <p class="u-mb-vr-05">{{ page.headertext }}</p>
      <a class="u-link-grey-lightest" href="{{ page.projectlink }}" target="_blank">
        <p class="u-mb-0">{{ page.projectcta }}</p>
      </a>
    </div>


    {% for image in page.projectimage %}
    <img class="c-showroom__img" src="{{ site.baseurl }}/assets/images/projects/{{ image }}" alt="project image">
    {% endfor %}

    </article>

    <article class="c-showroom__sidebar">

      <div class="c-showroom__sidebar-head u-txt-white">
        <p class="u-serif-sm u-mb-vr-05">{{ page.subtitle }}</p>
        <h4 class="u-txt-white">{{ page.headerdate }}</h4>
        <p class="u-mb-vr-05">{{ page.headertext }}</p>
        <a class="u-link-grey-lightest" href="{{ page.projectlink }}" target="_blank">
          <p class="u-mb-0">{{ page.projectcta }}</p>
        </a>
      </div>

      {{ content }}

    </article>
  </section>

  <script>
    console.log('hello');

    $(document).ready(function() {
      let windowHeight = $(document).height();
    let sidebarHeight = windowHeight - $('.e-footer').innerHeight();
    console.log('sidebarheight' + sidebarHeight);

    $('.c-showroom__sidebar').css('height', sidebarHeight);

    $('#widget-font').fixTo('.c-showroom__sidebar', {
      top: 140
    });
    $('#widget-color').fixTo('.c-showroom__sidebar', {
      top: 410
    });
    $('#widget-video').fixTo('.c-showroom__sidebar', {
      top: 565
    });
    });

   //  $(window).scroll(function (event) {
   //  let scroll = $(window).scrollTop();
   //  if (scroll > 2500) {

   //    console.log('scrooled too far');
   //   $('#widget-color, #widget-font').fixTo('stop');
   // } else {
   //  $('#widget-color, #widget-font').fixTo('refresh');
   // }
   //  });

  </script>

  {% include remodal-not-available.html %}

  {% include project-footer-nav.html %}

</main>
<!-- End Main -->

<script src='{{ site.baseurl }}/assets/javascripts/main.js'></script>


