
/* Big Backgrounds -------------------- */

.letter-close {
  background: url($path-img + '/bg/letter-close.jpg');
  background-size: cover;
  background-position: center;
}

/* Projekte -------------------- */

.tandem {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-tandem.jpg');
    background-size: cover;
    background-position: center;
  }
}

.modehaus {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-modehaus-min.png');
    background-size: cover;
    background-position: center;
  }
}

.architekturbuero {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-architekturbuero-min.png');
    background-size: cover;
    background-position: center;
  }
}

.eis-trifft-kunst {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-eis-trifft-kunst-min.png');
    background-size: cover;
    background-position: center;
  }
}

.grundschule {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-grundschule-min.png');
    background-size: cover;
    background-position: center;
  }
}

.msk {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-msk-min.png');
    background-size: cover;
    background-position: center;
  }
}

.codematch {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-codematch-min.png');
    background-size: cover;
    background-position: center;
  }
}

.best {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-best-min.png');
    background-size: cover;
    background-position: center;
  }
}

.oculus {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-oculus-min.png');
    background-size: cover;
    background-position: center;
  }
}

.ristorante {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-ristorante-min.png');
    background-size: cover;
    background-position: center;
  }
}

.roentgenapp {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-roentgenapp-min.png');
    background-size: cover;
    background-position: center;
  }
}

.moebelhaus {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-moebelhaus-min.png');
    background-size: cover;
    background-position: center;
  }
}

.jsg {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-jsg-min.png');
    background-size: cover;
    background-position: center;
  }
}

/* Team -------------------- */

.sebastian {
    background: url($path-img + '/sebastian.jpg');
    background-size: 270px;
    background-position: 127px 178px;
  }

.jonathan {
  background: url($path-img + '/jonathan.png');
  background-size: 100px;
  background-position: center center;

  @include mappy-bp(medium) {
    background: url($path-img + '/jonathan.png');
    background-size: 104px;
    background-position: center center;
  }

  @include mappy-bp(1800px) {
    background: url($path-img + '/jonathan.png');
    background-size: 115px;
    background-position: center center;
  }
}

/* Contact -------------------- */

.letter-contact {
  background: url($path-img + '/letter-contact.jpg');
  background-size: cover;
  background-position: center;
}

.telephone-contact {
  background: url($path-img + '/telephone-contact.jpg');
  background-size: cover;
  background-position: center;
}

.formular-contact {
  background: url($path-img + '/formular-contact.jpg');
  background-size: cover;
  background-position: center;
}

/* Misc -------------------- */

.rambo {
  background: url($path-img + '/magellan-brentrambo-min.png');
  background-size: cover;
  background-position: center;
}

.petel-bg {
  background: url($path-img + '/title-petels.png');
  background-size: 11rem;
  background-position: center 37%;
  background-repeat: no-repeat;
}












