
/* Projekte -------------------- */

.tandem {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-tandem.jpg');
    background-size: cover;
    background-position: center;
  }
}

.modehaus {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-modehaus.png');
    background-size: cover;
    background-position: center;
  }
}

.architekturbuero {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-architekturbuero.png');
    background-size: cover;
    background-position: center;
  }
}

.eis-triff-kunst {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-eis-trifft-kunst.png');
    background-size: cover;
    background-position: center;
  }
}

.grundschule {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-grundschule.png');
    background-size: cover;
    background-position: center;
  }
}

.msk {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-msk.png');
    background-size: cover;
    background-position: center;
  }
}

.oculus {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-oculus.png');
    background-size: cover;
    background-position: center;
  }
}

.ristorante {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-ristorante.png');
    background-size: cover;
    background-position: center;
  }
}

.roentgenapp {

  @include mappy-bp(small) {
    background: url($path-img + '/projects/teaser-roentgenapp.png');
    background-size: cover;
    background-position: center;
  }
}

/* Team -------------------- */

.sebastian {
    background: url($path-img + '/sebastian.jpg');
    background-size: 309px;
    background-position: 134px 205px;
  }

.jonathan {
  background: url($path-img + '/jonathan.jpg');
  background-size: 120px;
  background-position: 111px 225px;
}

/* Contact -------------------- */

.letter-contact {
  background: url($path-img + '/letter-contact.jpg');
  background-size: cover;
  background-position: center;
}

.telephone-contact {
  background: url($path-img + '/telephone-contact.jpg');
  background-size: cover;
  background-position: center;
}

.formular-contact {
  background: url($path-img + '/formular-contact.jpg');
  background-size: cover;
  background-position: center;
}

/* Misc -------------------- */

.table-flip {
  background: url($path-img + '/table-flip.jpg');
  background-size: cover;
  background-position: center;
}










