
@import "../1-settings/_settings.colors.scss";

// umschreiben in stärkeren CSS-Befehl
.o-bullet,
.o-bullet--skills,
.o-bullet--impr {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: vr(2);

  @include mappy-bp(medium) {
    margin-bottom: vr(3);
  }
  @include mappy-bp(wide) {
    margin-bottom: vr(4);
  }
}

.o-bullet--skills {
	max-width: 44rem;
}
.o-bullet--impr {
	max-width: 35rem;
}

	.o-bullet__item {
    position: relative;
		letter-spacing: 0.3rem; // sollte das beibehalten werden?
		cursor: pointer;
    width: 100%;

    @include mappy-bp(450px) {
      width: initial;
    }

		&.is-active {
			color: $black;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2.75rem;
        left: -0.5rem;
        top: -0.5rem;
        background: url(../images/title-petels.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
      }
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $color-link-hover;
		}
	}
