
// Justify Space Between
.o-flex-around--center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.o-flex-around--start {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

// Justify Space Between
.o-flex-between--center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.o-flex-between--start {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

// Center
.o-flex-center--center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.o-flex-center--start {
	display: flex;
	justify-content: center;
	align-items: start;
}

.o-flex-end--center {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.o-flex-start--center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

[class^='o-flex-'] {

	&.has-wrap {
		flex-flow: row wrap;
	}

  &.has-column {
    flex-flow: column nowrap;
  }

  &.has-inline-flex {
    display: inline-flex;
  }
}









