
@import "../1-settings/_settings.colors.scss";

/* Text -------------------- */

.u-txt-black {
  color: $black;
}
.u-txt-white {
  color: $white;
}
.u-txt-grey-darkest {
  color: $grey-darkest;
}
.u-txt-grey-dark {
  color: $grey-dark;
}
.u-txt-grey {
  color: $grey;
}
.u-txt-grey-light {
  color: $grey-lightest-no-trans;
}
.u-txt-grey-lightest {
  color: $grey-lightest;
}
.u-txt-green {
  color: #5acf92;
}
.u-txt-pink {
  color: #d85a85;
}
.u-txt-business-blue {
  color: #3698d7;
}
.u-txt-carbon {
  color: #3c3c3c;
}
.u-txt-turquoise {
  color: #51ccc4;
}
.u-txt-dark-blue {
  color: #2a638a;
}
.u-txt-gold {
  color: #b89e81;
}

/* Backgrounds -------------------- */

// General Backgrounds
.u-bg-black {
  background-color: $black;
}
.u-bg-white {
  background-color: $white;
}
.u-bg-grey-darkest {
  background-color: $grey-darkest;
}
.u-bg-grey-dark {
  background-color: $grey-dark;
}
.u-bg-grey {
  background-color: $grey;
}
.u-bg-grey-light {
  background-color: $grey-light;
}
.u-bg-grey-lightest {
  background-color: $grey-lightest;
}

// Overlays
.u-bg-darken-025 {
  background-color: rgba(0, 0, 0, 0.25);
}

// Special Backgrounds
.u-bg-green {
  background-color: #5acf92;
}
.u-bg-vanilla {
  background-color: $vanilla;
}
.u-bg-dark {
  background-color: #3a3a3a;
}


