
@import "../1-settings/_settings.colors.scss";

/* Helper Classes ------------------ */

.u-txt-center {
	text-align: center;
}
.u-txt-left {
	text-align: left;
}
.u-txt-right {
	text-align: right;
}

.u-centered,
.u-centered--b {
  margin-left: auto;
  margin-right: auto;
}
.u-centered--b {
  display: block;
}

.u-transparent {
  opacity: 0;
}

.u-strech {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
