
@import "../1-settings/_settings.colors.scss";

// White links
.u-link-white {

	&.is-active {

	}

	&:link {
	    color: $white;
	    text-decoration: none;
	}
	&:visited {
	    color: $white;
	}
	&:hover {
	    color: $color-link-hover;
	}
}

// Grey links
.u-link-grey {

	&.is-active {

	}

	&:link {
	    color: $grey;
	    text-decoration: none;
	}
	&:visited {
	    color: $grey;
	}
	&:hover {
    color: $color-link-hover;
	}
}

// Light Grey links
.u-link-grey-light {

  &.is-active {

  }

  &:link {
      color: $grey-lightest-no-trans;
      text-decoration: none;
  }
  &:visited {
      color: $grey-lightest-no-trans;
  }
  &:hover {
    color: $color-link-hover;
  }
}

// Black links
.u-link-dark {

	&.is-active {

	}

	&:link {
	    color: $black;
	    text-decoration: none;
	}
	&:visited {
	    color: $grey;
	}
	&:hover {
    color: $color-link-hover;
	}
}
