---
layout: 'default'
title: 'Made By Magellan'
description: 'Unser Ziel ist es, branchenbeste digitale Produkte und Dienstleistungen anzubieten. Das erreichen wir durch unsren breiten Wissenschatz und langjähriger Erfahrung sowie ständiger Weiterentwicklung. Wir möchten, dass Sie mit unseren Produkten und Dienstleistungen stets 100% zufrieden sind. Dafür geben wir auch gerne die Extrameile.'
---

<!-- Begin Page Header -->
<header id="start" class="e-header e-header--index js-min-height">

  <!-- Begin Slick Slider -->
  <div class="o-slick js-slick js-min-height">

    <!-- <div class="js-min-height magellan">
      <div class="o-slick-slide">
        <div class="o-slick-slide__brand u-txt-white">Magellan</div>
        <div class="o-slick-slide__title">
          <h1>Magellan Media</h1>
          <h3 class="u-txt-white">Modern, flexibel, motiviert</h3>
        </div>
      </div>
    </div> -->

<!--     <div class="js-min-height jsg">
      <div class="o-slick-slide">
        <div class="c-gradient-top"></div>
        <div class="c-gradient-bottom"></div>
        <div class="o-slick-slide__title">
          <h1>JSG Karlsruhe</h1>
          <h3 class="u-txt-white">Gestaltung &amp; Technik in perfektem Einklang</h3>
        </div>
      </div>
    </div> -->

    <div class="js-min-height magellan">
      <div class="o-slick-slide">
        <div class="o-slick-slide__title">
          <a href="#team">
            <h1 style="text-transform: initial;">ENTHUSIASTISCH, FLEXIBEL, ZEITGEMÄ&szlig;</h1>
          </a>
          <h3 class="u-txt-white">Die neue Medienagentur im Schwarzwald</h3>
        </div>
      </div>
    </div>

    <div class="js-min-height moebel">
      <div class="o-slick-slide">
        <div class="o-slick-slide__title">
          <a href="#impressionen">
            <h1>Möbelhaus</h1>
          </a>
          <h3 class="u-txt-white">Übersichtlich, Intuitiv, Hochwertig</h3>
        </div>
      </div>
    </div>
    <div class="js-min-height jsg">
      <div class="o-slick-slide">
        <div class="o-slick-slide__title">
          <a href="#impressionen">
            <h1>JSG Karlsruhe</h1>
          </a>
          <h3 class="u-txt-white">DIY. Einfach. WordPress.</h3>
        </div>
      </div>
    </div>
    <div class="js-min-height oculus">
      <div class="o-slick-slide">
        <div class="o-slick-slide__title">
          <a href="#impressionen">
            <h1>Oculus Travel</h1>
          </a>
          <h3 class="u-txt-white">Ein Frontend-Design &amp; Konzeptions Projekt</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- End Slick Slider -->

  <!-- Begin Hero -->
  <section class="c-hero">

      {% include header-nav.html %}

  </section>
  <!-- End Hero -->
</header>
<!-- End Page Header -->

<!-- Begin Main -->
<main id="index-page">

  <!-- Begin Skills -->
  <div id="skills" class="o-wrapper">

    <article class="o-wrapper__module u-txt-center">
      <h2>Kompetenzen</h2>

      <!-- Skills Bullet -->
      <ul id="skills-bullet" class="o-flex-center--center has-wrap o-bullet--skills js-bullet">
        <li data-remodal-target="modal-not-available" class="e-serif-med o-bullet__item">Design</li>
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
        <li data-remodal-target="modal-not-available" class="e-serif-med o-bullet__item">Commerce</li>
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
        <li class="e-serif-med o-bullet__item is-active">Web &amp; App</li>
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
        <li data-remodal-target="modal-not-available" class="e-serif-med o-bullet__item">Print</li>
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
        <li data-remodal-target="modal-not-available" class="e-serif-med o-bullet__item">Service</li>
      </ul>

      <!-- Sub Skills -->
      <ul class="o-flex-center--start has-wrap c-sub-skills is-initial u-centered">
        <li class="c-sub-skills__item is-active" id="sub-skills-web-frontend">Frontend</li>
        <li class="c-sub-skills__item" id="sub-skills-web-backend">Backend</li>
        <li class="c-sub-skills__item" id="sub-skills-web-performance">Performance</li>
        <li class="c-sub-skills__item" id="sub-skills-web-seo">Seo</li>
      </ul>

      <!-- Display Skills -->
      <section class="o-flex-between--center c-show-skills is-initial u-centered">
        <section class="c-show-skills__figure">
          <svg class="i-frontend" id="frontend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 495.8 353.25">
            <title>frontend</title>
            <path id="frontend-stand" d="M187.9,344.8H307.6" transform="translate(-0.05 -0.05)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="17" opacity="0.8" style="isolation: isolate"/>
            <path id="frontend-frame" d="M8.55,8.55h478.7v290.6H8.55Z" transform="translate(-0.05 -0.05)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="17"/>
          </svg>
          <h3 class="u-txt-black u-m-0">Frontend</h3>
          <p class="u-serif-sm u-mb-0">Webentwicklung</p>
        </section>
        <section class="c-show-skills__figure">
          <svg class="i-backend" id="backend" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <title>backend</title>
            <path id="backend-middle" d="M158.9,152.8H353.3" transform="translate(0.1 0.1)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="30" opacity="0.8" style="isolation: isolate"/>
            <path id="backend-frame" d="M13.9,13.9H486.1V486.1H13.9Z" transform="translate(0.1 0.1)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="28"/>
          </svg>
          <h3 class="u-txt-black u-m-0">Backend</h3>
          <p class="u-serif-sm u-mb-0">Webentwicklung</p>
        </section>
        <section class="c-show-skills__figure">
          <svg class="i-performance" id="performance" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 388.8 446.7">
              <title>performance</title>
              <path id="perf-1" d="M95.9,446.6V314.3" transform="translate(-0.02 -0.02)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="25" opacity="0.8" style="isolation: isolate"/>
              <path id="perf-2" d="M162,446.6v-215" transform="translate(-0.02 -0.02)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="25" opacity="0.8" style="isolation: isolate"/>
              <path id="perf-3" d="M228,446.6V347.4" transform="translate(-0.02 -0.02)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="25" opacity="0.8" style="isolation: isolate"/>
              <path id="perf-4" d="M294.2,432.5V273" transform="translate(-0.02 -0.02)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="25" opacity="0.8" style="isolation: isolate"/>
              <path id="perf-frame" d="M12.4,12.4h364V434.3H12.4Z" transform="translate(-0.02 -0.02)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="24.75"/>
          </svg>
          <h3 class="u-txt-black u-m-0">Performance</h3>
          <p class="u-serif-sm u-mb-0">Webdienstleistung</p>
        </section>
        <section class="c-show-skills__figure">
          <svg class="i-seo" id="seo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 487.2 370.6">
            <title>seo</title>
            <path id="seo-4" d="M89.2,291.6H315.6" transform="translate(0 0)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="20" opacity="0.8" style="isolation: isolate"/>
            <path id="seo-3" d="M89.2,229.9H233.3" transform="translate(0 0)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="20" opacity="0.8" style="isolation: isolate"/>
            <path id="seo-2" d="M89.2,147.5H315.6" transform="translate(0 0)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="20" opacity="0.8" style="isolation: isolate"/>
            <path id="seo-1" d="M89.2,85.8H233.3" transform="translate(0 0)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="20" opacity="0.8" style="isolation: isolate"/>
            <path id="seo-frame" d="M10.3,10.3H476.9v350H10.3Z" transform="translate(0 0)" fill="none" stroke="#3c3c3c" stroke-miterlimit="10" stroke-width="20.6"/>
          </svg>
          <h3 class="u-txt-black u-m-0">SEO</h3>
          <p class="u-serif-sm u-mb-0">Webdienstleistung</p>
        </section>
        <span class="c-show-skills__sep"></span>
        <section class="c-show-skills__desc u-txt-left">
          <p class="u-mw-small u-mb-0 u-centered--b">Als Frontendbereich einer Website oder App wird zusammenfassend alles kategorisiert, was der Besucher bei normaler Benutzung sieh
          <br><span class="u-txt-grey-light">Hier setzen wir unser ganzes Fachwissen ein, um schlanken und responsiven Code zu entwickeln, der auf einer breiten Anzahl an Geräten skillsatibel ist und flink lädt sowie die konzipierte Gestaltung bestmöglich widerspiegelt und eine tolle Benutzererfahrung garantiert</span>
          <br><span class="u-txt-grey-lightest">Wir arbeiten mit folgenden Technologien: HTML5, CSS3, jQuery &amp; SASS</span></p>
        </section>
      </section>
    </article>
  </div>
  <!-- End Skills -->

  <!-- Begin Impressionen -->
  <div id="impressionen" class="o-wrapper u-bg-vanilla">

    <article class="o-wrapper__module u-txt-center">
      <h2>Impressionen</h2>

      <!-- Impressionen Bullet -->
      <ul id="impressionen-bullet" class="o-flex-center--center has-wrap o-bullet--impr">
        <li id="bullet-web" class="e-serif-med o-bullet__item is-active">Web &amp; App</li>
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
        <li data-remodal-target="modal-not-available" id="bullet-gestaltung" class="e-serif-med o-bullet__item">Gestaltung</li>
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
        <li data-remodal-target="modal-not-available" id="bullet-print" class="e-serif-med o-bullet__item">Print</li>
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
        <li data-remodal-target="modal-not-available" id="bullet-etc" class="e-serif-med o-bullet__item">ETC</li>
      </ul>

      <!-- Cards Wrapper -->
      <section class="o-flex-center--center has-wrap u-centered u-mb-vr-2 js-card-wrapper">


        {% assign projects = site.projects | sort: 'date' %}
        {% for project in projects reversed %}

          <article class="o-card c-card-proj u-txt-left js-card {{ project.category }}">
            <div class="c-card-proj__left">
              <p class="u-category {{ project.color }} u-mb-vr-033">{{ project.subtitle }}</p>
              <h4>{{ project.title }}</h4>
              <p class="u-mb-vr-05">{{ project.teasertext }}</p>
              <a class="o-flex-start--center has-inline-flex u-link-grey-light u-mb-vr-1 g-underline" href="{% if project.link == 'project-detail' %}{{ project.url }}{% else %}{{ project.link }}{% endif %}" target="{% if project.link != 'project-detail' and project.link != '#modal-not-available' %}_blank{% endif %}">
                <svg class="i-glasses u-mr-vr-033">
                  <use xlink:href="#glasses"></use>
                </svg>
                <p class="u-mb-0">{{ project.cta }}</p>
              </a>
            </div>
            <div class="c-card-proj__right {{ project.teaserimage }}"></div>
          </article>

        {% endfor %}


      </section>

      <section class="o-flex-center--center has-column">
        <h3 class="u-mb-vr-05"><span id="current-displayed-items" class="u-txt-black">6</span> / <span id="all-items-of-category">22</span></h3>
        <a href="#" class="o-flex-center--center c-card-proj__more">
          <svg class="i-cloud u-mr-vr-05">
            <use xlink:href="#cloud"></use>
          </svg>
          <p class="u-link-dark u-uppercase">Mehr laden</p>
        </a>
      </section>

      <div class="o-flex-center--center u-mt-vr-3 u-mb-vr-3">
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
        <h3 class="u-mb-0">Aktuelle Projekte</h3>
        <li class="c-dot"><svg class="i-dot"><use xlink:href="#dot"></use></svg></li>
      </div>

      <section class="o-flex-center--center has-wrap u-centered u-mb-vr-15">

          <article class="o-card c-card-proj c-card-proj--small u-txt-left">
            <div class="c-card-proj--small__body">
              <p class="u-category u-txt-black u-mb-vr-033">Gestaltung &amp; Entwicklung</p>
              <h4>Tariffuxx</h4>
              <p class="u-mb-vr-05">tariffuxx.de ist marktführender B2B-Dienstleister für Tarif&shy;vergleiche in der Kommunikations&shy;branche. Zeit für frischen Wind!</p>
              <div class="o-flex-start--center has-inline-flex u-txt-grey-light u-mb-vr-1">
                <svg class="i-layers u-mr-vr-033">
                  <use xlink:href="#layers"></use>
                </svg>
                <p class="u-mb-0">Work in Progress</p>
              </div>
            </div>
            <!-- <div class="c-card-proj__right oculus"></div> -->
          </article>

          <article class="o-card c-card-proj c-card-proj--small u-txt-left">
            <div class="c-card-proj--small__body">
              <p class="u-category u-txt-black u-mb-vr-033">Gestaltung &amp; Entwicklung</p>
              <h4>Messmer Pen GmbH</h4>
              <p class="u-mb-vr-05">Wir arbeiten mit der Mesmmer Pen GmbH in Emmendingen nahe Freiburg mit über 100 Mitarbeitern und 30.000 Kunden.</p>
              <div class="o-flex-start--center has-inline-flex u-txt-grey-light u-mb-vr-1">
                <svg class="i-layers u-mr-vr-033">
                  <use xlink:href="#layers"></use>
                </svg>
                <p class="u-mb-0">Work in Progress</p>
              </div>
            </div>
            <!-- <div class="c-card-proj__right oculus"></div> -->
          </article>

      </section>

    </article>
  </div>
  <!-- End Impressionen -->

  <!-- Begin Team -->
  <div id="team" class="o-wrapper--slim">

    <article class="o-wrapper__module u-txt-center">
      <h2>Team</h2>

      <h3 class="u-mb-vr-0125" style="text-transform: initial;">ENTHUSIASTISCH, FLEXIBEL, ZEITGEMÄ&szlig;</h3>
      <h3>True Story.</h3>

      <!-- Profile Wrapper -->
      <section class="o-flex-around--start has-wrap c-card-prof-wrapper u-centered">

        <article id="sebastian" class="o-card c-card-prof">
          <span class="c-card-prof__img sebastian u-centered--b"></span>
          <svg class="i-crown u-mb-vr-0125">
            <use xlink:href="#crown"></use>
          </svg>
          <h4 class="u-mb-vr-075">Sebastian Saier</h4>
          <p><i>"Das Web befindet sich in ständiger Bewegung. Täglich gibt es neue Trends und Technologien zu entdecken. Mit Leidenschaft sind wir ein Teil dieser Bewegung und gestalten moderne Produkte, die stets auf dem neuesten Stand sind."</i></p>
          <p>Sebastian studiert seit 3 Jahren Online Medien an der Hochschule Furtwangen und hat sich im Frontend-Bereich spezialisiert. Zudem ist er als Freelancer tätig und kümmert sich um die Umsetzung von modernen Webseiten.</p>
          <a class="o-flex-center--center has-inline-flex u-link-grey-light u-mb-vr-025 g-underline" href="#modal-not-available">
            <svg class="i-glasses u-mr-vr-033">
              <use xlink:href="#glasses"></use>
            </svg>
            <p class="u-mb-0">Blogbeiträge lesen</p>
          </a>
          <a class="o-flex-center--center has-inline-flex u-link-grey-light g-underline" href="mailto:sebastian.saier@web.de">
            <svg class="i-plane u-mr-vr-033">
              <use xlink:href="#plane"></use>
            </svg>
            <p class="u-mb-0">Via E-Mail kontaktieren</p>
          </a>
        </article>

        <article id="jonathan" class="o-card c-card-prof">
          <span class="c-card-prof__img jonathan u-centered--b"></span>
          <svg class="i-ornament u-mb-vr-0125">
            <use xlink:href="#ornament"></use>
          </svg>
          <h4 class="u-mb-vr-075">Jonathan Arbely</h4>
          <p><i>"Für Webenthusiasten wie uns ist es selbstverständlich, sich ständig weiter&shy;zuentwickeln und neues auszuprobieren, um dazuzulernen und ein tiefes Verständnis über die Technologien zu behalten, die unsere digitalisierte Welt antreiben."</i></p>
          <p>Jonathan ist seit drei Jahren freiberuflicher Webentwickler und Gestalter. Er hat mit verschiedenen Kunden zusammengearbeitet sowie an abwechslungsreichen Projekten mitgewirkt.</p>
          <a class="o-flex-center--center has-inline-flex u-link-grey-light u-mb-vr-025 g-underline" href="#modal-not-available">
            <svg class="i-glasses u-mr-vr-033">
              <use xlink:href="#glasses"></use>
            </svg>
            <p class="u-mb-0">Blogbeiträge lesen</p>
          </a>
          <a class="o-flex-center--center has-inline-flex u-link-grey-light g-underline" href="mailto:me@jonathanarbely.de">
            <svg class="i-plane u-mr-vr-033">
              <use xlink:href="#plane"></use>
            </svg>
            <p class="u-mb-0">Via E-Mail kontaktieren</p>
          </a>
        </article>
      </section>
    </article>
  </div>
  <!-- End Team -->

  <div class="c-global-sep"></div>

  <!-- Begin Kontakt -->
  <div id="contact" class="o-wrapper">
    <article class="o-wrapper__module u-txt-center">
      <h2>Kontakt</h2>

      <h3 class="u-mb-vr-0125">Haben Sie etwas geplant oder</h3>
      <h3>möchten Sie etwas verbessern?</h3>

      <section class="o-flex-between--center has-wrap c-contact u-centered">

        <article id="mail" class="c-contact__item">
          <svg class="i-email">
            <use xlink:href="#letter"></use>
          </svg>
          <h3 class="u-mb-vr-025">E-Mail</h3>
          <p class="u-serif-sm u-mb-0">
            Für Menschen
            <br>
            &amp; Spambots
          </p>
        </article>

        <article id="telefon" class="c-contact__item is-active">
          <svg class="i-phone">
            <use xlink:href="#phone"></use>
          </svg>
          <h3 class="u-mb-vr-025">Telefon</h3>
          <p class="u-serif-sm u-mb-0">&amp; WhatsApp</p>
        </article>

        <article id="formular" class="c-contact__item">
          <svg class="i-form">
            <use xlink:href="#form"></use>
          </svg>
          <h3 class="u-mb-vr-025">Formular</h3>
          <p class="u-serif-sm u-mb-0">Schreiben Sie uns!</p>
        </article>
      </section>

      <div class="o-flex-center--center">

        <div id="card-contact-container" class="c-card-contact-container">

          <article class="o-card c-card-proj c-card-proj--front u-txt-left u-m-0">
            <div class="c-card-proj__left">
              <p class="u-category ux-design u-txt-black u-mb-vr-033">Mobilfunk</p>
              <h4>0176 392 00032</h4>
              <p class="u-mb-vr-05">Haben Sie Fragen oder eine Projektidee und möchten dazu beraten werden?<br>Wir sind jederzeit erreichbar!</p>
              <a class="o-flex-start--center has-inline-flex u-link-grey-light u-mb-vr-1 g-underline" href="tel:+0176 392 00032">
                <svg class="i-double-tick-indicator u-mr-vr-033">
                  <use xlink:href="#double-tick-indicator"></use>
                </svg>
                <p class="u-mb-0">Auch WhatsApp möglich</p>
              </a>
            </div>
            <div class="c-card-proj__right telephone-contact"></div>
          </article>

        <article class="o-card c-card-proj c-card-proj--back u-txt-left u-m-0">
          <div class="c-card-proj__left">
            <p class="u-category ux-design u-txt-black u-mb-vr-033">Mobilfunk</p>
            <h4>0176 392 00032</h4>
            <p class="u-mb-vr-05">Haben Sie Fragen oder eine Projektidee und möchten dazu beraten werden?<br>Wir sind jederzeit erreichbar!</p>
            <a class="o-flex-start--center has-inline-flex u-link-grey-light u-mb-vr-1 g-underline" href="#modal-contact">
              <svg class="i-double-tick-indicator u-mr-vr-033">
                <use xlink:href="#double-tick-indicator"></use>
              </svg>
              <p class="u-mb-0">Auch WhatsApp möglich</p>
            </a>
          </div>
          <div class="c-card-proj__right telephone-contact"></div>
        </article>
        </div>

        <div class="remodal remodal-contact" data-remodal-id="modal-contact">
          <button data-remodal-action="close" class="remodal-close"></button>
          <h2 class="u-mb-vr-1">Formular</h2>
          <h3 class="u-mb-vr-2">Füllen Sie die folgenden Felder aus</h3>
          <form data-parsley-validate="" method="POST" id="contact-form" class="c-contact-form" action="">
            <div class="c-contact-form__item-wrap u-mb-vr-05">
              <p class="u-serif-sm u-mb-vr-033">Vor- &amp; Nachname</p>
              <input required="" data-parsley-error-message="Dieses Feld muss ausgefüllt sein." class="c-contact-form__input" name="name" type="text" placeholder="Max Musterman">
            </div>
            <div class="c-contact-form__item-wrap u-mb-vr-05">
              <p class="u-serif-sm u-mb-vr-033">Unternehmen</p>
              <input required="" data-parsley-error-message="Dieses Feld muss ausgefüllt sein." class="c-contact-form__input" name="unternehmen" type="text" placeholder="Ihr Unternehmen">
            </div>
            <div class="c-contact-form__item-wrap u-mb-vr-05">
              <p class="u-serif-sm u-mb-vr-033">Email</p>
              <input data-parsley-trigger="change" required="" data-parsley-error-message="Keine gültige E-Mail-Adresse." class="c-contact-form__input" name="email" type="email" placeholder="maxmusterman@mail.de">
            </div>
            <div class="c-contact-form__item-wrap u-mb-vr-2">
              <p class="u-serif-sm u-mb-vr-033">Nachricht</p>
              <textarea data-parsley-trigger="keyup" data-parsley-maxlength="400" class="c-contact-form__input" cols="50" rows="8" name="nachricht" placeholder="Haben Sie eine Nachricht an uns?"></textarea>
            </div>
            <div class="o-flex-center--center has-inline-flex c-contact-form__submit-wrap g-underline">
              <svg class="i-send-form u-mr-vr-025">
                <use xlink:href="#send-form"></use>
              </svg>
              <button id="send-message" class="c-contact-form__submit e-serif-def u-mb-0" type="submit">Absenden</button>
            </div>
          </form>
        </div>
      </div>

      <div class="c-global-sep--small u-centered u-mb-vr-1"></div>

      <section class="o-flex-center--center has-wrap o-ref u-centered">

        <a class="o-flex-center--center o-ref__item" href="https://www.instagram.com/bymagellan/" target="_blank">
          <svg class="i-instagram u-mr-vr-05">
            <use xlink:href="#instagram"></use>
          </svg>
          <p class="u-serif-sm u-mb-0">Besuchen Sie uns auf Instagram</p>
        </a>

        <span class="c-dot"><svg class="i-dot--small"><use xlink:href="#dot"></use></svg></span>

        <a class="o-flex-center--center o-ref__item" href="#modal-not-available">
          <p class="u-serif-sm u-mr-vr-05 u-mb-0">Entdecken Sie uns auf Dribbble</p>
          <svg class="i-dribbble">
            <use xlink:href="#dribbble"></use>
          </svg>
        </a>
      </section>
    </article>
  </div>
  <!-- End Kontakt -->

  <div class="c-global-sep"></div>

  <!-- Begin Blog -->
  <div id="blog" class="o-wrapper">

    <article class="o-wrapper__module u-txt-center">
      <h2 class="u-mb-0">Blog</h2>
      <div class="petel-bg u-pt-vr-15 u-pb-vr-15">
        <p class="u-sans-sm u-txt-grey-light u-uppercase u-mb-vr-0125">Was uns</p>
        <h3 class="u-txt-grey"><i>Bewegt &amp; interessiert</i></h3>
      </div>

      <!-- Blog Articles Preview -->
      <section class="o-flex-center--center has-wrap u-mb-vr-2 u-centered">


        {% for post in site.posts %}

          <article class="o-card c-card-blog u-txt-left">
            <div class="c-card-blog__img--magellan"></div>
            <section class="c-card-blog__body">
              <p class="u-txt-blog u-mb-vr-033">{{ post.datumformatiert }}</p>
              <h3 class="u-txt-black u-bold u-mb-vr-033">{{ post.title }}</h3>
              <p class="u-mb-0">{{ post.teasertext }}</p>
<!--               <section class="o-flex-between--center c-card-blog__bottom">
                <a class="o-flex-start--center has-inline-flex u-link-grey-light g-underline" href="#modal-not-available">
                  <p class="u-mr-vr-025 u-mb-0">Lesen</p>
                  <svg class="i-glasses">
                    <use xlink:href="#glasses"></use>
                  </svg>
                </a>
                <div class="o-flex-start--center">
                  <svg class="i-clock u-mr-vr-025">
                    <use xlink:href="#clock"></use>
                  </svg>
                  <p class="u-txt-grey-light u-mb-0">{{ post.lesezeit }}</p>
                </div>
              </section> -->
            </section>
          </article>

        {% endfor %}

      </section>

      <a class="o-flex-center--center has-inline-flex u-link-grey-light u-mb-vr-025 g-underline" href="#modal-not-available">
        <p class="u-mb-0 u-mr-vr-033">Mehr lesen</p>
        <svg class="i-right-arrow">
          <use xlink:href="#right-arrow"></use>
        </svg>
      </a>

    </article>
  </div>
  <!-- End Blog -->

  {% include facts.html %}

  {% include remodal-not-available.html %}

</main>
<!-- End Main -->

<script src='{{ site.baseurl }}/assets/javascripts/main.js'></script>

