<!-- Begin Facts -->
<div id="facts" class="o-wrapper u-txt-center u-bg-vanilla">

  <article class="o-wrapper__module ">

    <!-- trying to use flexbox grid -->
    <section class="o-flex-center--center has-wrap c-facts u-centered">
      <article class="c-facts__item">
        <p class="e-serif-big u-txt-black u-mb-vr-05">12</p>
        <h3 class="u-txt-grey u-mb-0">Zufriedene <br> Kunden</h3>
      </article>
      <article class="c-facts__item">
        <p class="e-serif-big u-txt-black u-mb-vr-05">34</p>
        <h3 class="u-txt-grey u-mb-0">Abgeschlossene <br> Projekte</h3>
      </article>
      <article class="c-facts__item">
        <p class="e-serif-big u-txt-black u-mb-vr-05">24 / 7</p>
        <h3 class="u-txt-grey u-mb-0">Erreichbarkeit <br> &amp; Service</h3>
      </article>
    </section>
  </article>
</div>
<!-- End Facts -->
