<!-- Begin Header Nav -->
<nav class="o-flex-between--start">

  <!-- Logo -->
  <a href="/" class="c-nav-left">
    <svg class="i-logo">
      <use xlink:href="#logo-klein"></use>
    </svg>
  </a>

  <!-- Main Nav -->
  <ul class="o-flex-between--center c-main-nav">
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#start">START</a></li>
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#skills">KOMPETENZEN</a></li>
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#impressionen">IMPRESSIONEN</a></li>
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#team">TEAM</a></li>
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#contact">KONTAKT</a></li>
  </ul>

  <!-- Nav Right -->
  <div class="o-flex-end--center c-nav-right">
    <svg class="i-search u-mr-vr-1">
      <use xlink:href="#search"></use>
    </svg>
    <a class="i-menu menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
</nav>
<!-- End Header Nav -->
