<!-- Begin Header Nav -->
<nav id="default-nav" class="o-flex-between--start">

  <!-- Logo -->
  <a href="/" class="c-nav-left">
    <svg class="i-logo">
      <use xlink:href="#logo-klein"></use>
    </svg>
  </a>

  <!-- Main Nav -->
  <ul class="o-flex-between--center c-main-nav">
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#start">START</a></li>
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#skills">KOMPETENZEN</a></li>
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#impressionen">IMPRESSIONEN</a></li>
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#team">TEAM</a></li>
    <li class="c-main-nav__item"><a class="u-link-white g-petel" href="#contact">KONTAKT</a></li>
  </ul>

  <!-- Nav Right -->
  <div class="o-flex-end--center c-nav-right">
    <svg class="i-search">
      <use xlink:href="#search"></use>
    </svg>
    <button class="gh-button gh-svg-wrapper menu-btn">
      <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="gh-svg gh-svg-top" enable-background="new 0 0 96 96">
        <rect width="32" height="4" x="32" y="46" class="gh-svg-rect gh-svg-rect-top"></rect>
      </svg>
      <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="gh-svg gh-svg-bottom" enable-background="new 0 0 96 96">
        <rect width="32" height="4" x="32" y="46" class="gh-svg-rect gh-svg-rect-bottom"></rect>
      </svg>
    </button>
  </div>
</nav>
<!-- End Header Nav -->
