<!-- Begin Facts -->
<div class="o-wrapper u-txt-center u-bg-vanilla">

  <article class="o-wrapper__module--slim">

    <!-- trying to use flexbox grid -->
    <section class="o-flex-between--center e-footer--project has-wrap u-centered">
      <a class="o-flex-center--center e-footer--project__link" href="https://bymagellan.co/#impressionen">
        <svg class="i-exit i-exit u-mr-vr-1"><use xlink:href="#exit"></use></svg>
        <p class="u-serif-sm u-m-0">Zurück zur Projektübersicht</p>
      </a>
      <a class="o-flex-center--center e-footer--project__link" href="#start">
        <p class="u-serif-sm u-mb-0 u-mr-vr-1">Zurück nach Oben</p>
        <svg class="i-exit i-exit--flipped"><use xlink:href="#exit"></use></svg>
      </a>
    </section>
  </article>
</div>
<!-- End Facts -->
