<div class="remodal remodal-not-available" data-remodal-id="modal-not-available">
  <button data-remodal-action="close" class="remodal-close"></button>
  <article class="o-card c-card-proj u-txt-left js-card m-category-web">
    <div class="c-card-proj__left">
      <p class="u-category u-txt-grey u-mb-vr-033">Notiz</p>
      <h4>Diese Funktion folgt in Kürze!</h4>
      <p class="u-mb-vr-05">Diese Unterseite/Funktion steht<br>in Kürze zur Verfügung!<br>Versprochen!</p>
      <a class="o-flex-start--center has-inline-flex u-link-grey u-mb-vr-1 g-underline" href="#">
        <svg class="i-github u-mr-vr-033">
          <use xlink:href="#github"></use>
        </svg>
        <p class="u-mb-0">Letztes Update: 28.09.16</p>
      </a>
    </div>
    <div class="c-card-proj__right table-flip"></div>
  </article>
</div>
