
@import "../1-settings/_settings.colors.scss";

.e-footer {
  // padding: vr(2) 0 vr(1);
  padding-bottom: vr(1);
}

  .e-footer__item {
    max-width: 62rem;

    & > p {
      text-align: center;

      @include mappy-bp(large) {
        text-align: left;
      }
    }

    ul li {

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        width: 100%;
        margin-bottom: 0;
        text-align: center;
      }
    }
  }

  .e-footer__adress {
    margin-bottom: vr(1);

    @include mappy-bp(large) {
      margin-bottom: 0;
    }
  }

.e-footer--project {
  max-width: 62rem;
}

  .e-footer--project__link {
    width: 100%;
    padding: 0 0.75rem;

    &:first-child {
      margin-bottom: vr(1);
    }
    &:nth-child(2) {
      // margin-bottom: vr(1);
    }

    &:nth-child(2) svg {
      order: -1;
      margin-right: 1rem;
    }

    @include mappy-bp(720px) {
      width: initial;

      &:first-child {
        margin-bottom: 0;
      }
      &:nth-child(2) {
        // margin-bottom: 0;
      }
    }
  }
