
@import "../1-settings/_settings.colors.scss";

/* Pseudo-classes ------------------ */

a {
  outline:0;
  border:none;

	&:link {
	    color: $color-link-default;
	    text-decoration: none;
	}
	&:visited {
	    color: $color-link-visited;
	}
	&:hover {
	    color: $color-link-hover;
	}
  &:active {
    outline:0;
    border:none;
  }

  &.has-no-hover:hover {
    color: $black;
  }
}
