
@import "../1-settings/_settings.colors.scss";

::-webkit-input-placeholder {
   color: $grey-light;
}
:-moz-placeholder { /* Firefox 18- */
   color: $grey-light;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $grey-light;
}
:-ms-input-placeholder {
   color: $grey-light;
}

.form-wrap {
	margin-top: vr(2);
}

form {

}

input,
textarea {
	width: 100%;
  color: $black;
  background-color: transparent;
  border: none;
}

input {

}

textarea {
	padding: 0.75rem;
}
