
@import "../1-settings/_settings.colors.scss";

button {
	color: $color-link-default;
	border: 0.2em solid $grey;
	padding: 0.5rem;
	background: transparent;

	&:hover {
		color: $color-link-hover;
		border-color: $color-link-hover;
	}
}

button[type="submit"] {
	border: none;
  padding: 0 0 0.1rem 0;
}
