
@import "../1-settings/_settings.colors.scss";

/* Project Previews -------------------- */

.c-card-proj {
  display: flex;
  justify-content: flex-start;
  max-width: 29rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.18);

  &:last-child {
    // margin: 0;
  }

  @include mappy-bp(800px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  @include mappy-bp(1311px) {
    max-width: 32rem;
  }

  @include mappy-bp(1104px) { // tweakpoint
    // margin-right: 2rem;

    &:nth-child(2n) {
      // margin: 0;
    }
  }
}

  .c-card-proj__left {
    width: 100%;
    padding-left: vr(0.75);
    padding-top: vr(0.75);
    padding-right: vr(0.75);

    @include mappy-bp(small) {
      padding-left: vr(1);
      padding-top: vr(1);
      padding-right: vr(1);
    }

    @include mappy-bp(medium) {
      width: 70%;
    }
    @include mappy-bp(1311px) {
      width: 60%;
    }
  }

  .c-card-proj__right {
    display:none;

    @include mappy-bp(medium) {
      display: block;
      width: 30%;
    }
    @include mappy-bp(1311px) {
      width: 40%;
    }
  }

  .c-card-proj__more {

    p {
      margin-bottom: 0.2rem;
      letter-spacing: 0.18rem;
    }
  }

/* Profiles -------------------- */

.c-card-prof-wrapper {
  max-width: 60rem;
}

.c-card-prof {
  max-width: 19.5rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  padding: vr(1);
  backface-visibility: hidden;

  @include mappy-bp(small) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: vr(1.25);
  }

  @include mappy-bp(800px) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

  .c-card-prof__img {
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 0.45rem;
    border-radius: 50%;
  }

/* Blog Previews -------------------- */

.c-card-blog {
  // max-width: 22rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.18);

  @include mappy-bp(small) {
    max-width: 19.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

  div[class^=c-card-blog__img] {
    width: 100%;
    height: 10rem;
  }
  .c-card-blog__img--magellan {
    background-color: #79a4be;
    background-size: cover;
  }

  .c-card-blog__body {
    padding: vr(1/2) vr(0.75) vr(1);

    @include mappy-bp(small) {
      padding: vr(1/2) vr(1) vr(1);
    }

    @include mappy-bp(large) {
      padding: vr(1/2) vr(1) vr(1);
    }
  }

  .c-card-blog__bottom {

  }

.c-card-contact-container {
  position: relative;
  width: 32rem;
  height: 14rem;
  margin-bottom: vr(3);
  /*border: solid 2px #fff;*/
}

.c-card-proj--front, .c-card-proj--back
{
  position: absolute;
  // width: 100%;
  // height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}











