
@import "../1-settings/_settings.colors.scss";

.c-hero {
	position: absolute;
  width: 90%; /* fallback if needed */
  width: calc(100% - 4rem);
  // max-width: 80rem;
  top: 2rem;
  left: 51%;
  transform: translate(-51%, 0%);
  z-index: 99;

  @include mappy-bp(medium) {
    width: calc(100% - 6rem);
    top: 3rem;
  }
  @include mappy-bp(wide) {
    width: calc(100% - 8rem);
    top: 3.25rem;
  }
}

.c-hero--static {
  position: relative;
  width: 90%; /* fallback if needed */
  width: calc(100% - 2.5rem);
  // max-width: 80rem;
  // height: 100%;
  top: 1.5rem;

  @include mappy-bp(medium) {
    width: calc(100% - 4.5rem);
    top: 2.25rem;
  }
  @include mappy-bp(wide) {
    width: calc(100% - 6.5rem);
    top: 2.5rem;
  }
}

  .c-hero--static__title {
    position: relative;
    top: 1.5rem;

    @include mappy-bp(tiny) {
      top: 3rem;
    }
  }

