
@import "../1-settings/_settings.colors.scss";

.c-contact {
  position: relative;
  max-width: 34rem;
  padding-bottom: vr(2.5);
}

  .c-contact__item {
    width: 100%;
    margin-bottom: vr(2);
    cursor: pointer;
    color: $grey;

    @include mappy-bp(595px) { // tweakpoint
      width: initial;
      margin-bottom: 0;
    }

    &.is-active {
      color: black;
    }

    &:hover {
      color: $color-link-hover;
    }
  }

.remodal-contact {
  padding: 3rem 1rem;

  @include mappy-bp(large) {
    padding: 3rem 2rem;
  }
  @include mappy-bp(wide) {
    padding: 3rem 3rem;
  }
}

.c-contact-form {
}

  .c-contact-form__item-wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.18);
    padding: 1rem;
  }

  .c-contact-form__input {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 0;
  }

  .c-contact-form__message {
    font-size: 0.8rem;
  }

  .c-contact-form__submit-wrap {
    display: flex-inline;
  }
