
@import "../1-settings/_settings.colors.scss";

// ==========================================================================
// General Icon Styles
// ==========================================================================

.hide-svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}


// ==========================================================================
// SVG Styles
// ==========================================================================

/* Hero -------------------- */

.i-logo {
  width: 4.25rem;
  height: 4.25rem;
  // transform-origin: top center;

  @include mappy-bp(medium) {
    // transform: scale(1.2);
    width: 5.25rem;
    height: 5.25rem;
  }
  @include mappy-bp(wide) {
    // transform: scale(1.2);
    width: 5.25rem;
    height: 5.25rem;
  }
}

  .c-nav-fixed .i-logo {
    height: 0;
  }

.i-search, .i-search--mobile {
  width: 1rem;
  height: 1rem;
  cursor: pointer;

  &:hover {
    fill: $color-link-hover;
  }
}

  #search-stick {
    fill: #fff;
  }

.c-nav-fixed .i-search {
  display: none;

  @include mappy-bp(1113px) {
    display: block;
  }
}

.i-search--mobile {

  @include mappy-bp(1113px) {
    display: none;
  }
}

.i-menu, .i-menu--mobile {
  cursor: pointer;
  position: relative;
  width: 21px;
  height: 14px;

  span {
    background: white;
    height: 3px;
    width: 21px;
    position: absolute;
    transition:all 0.5s ease;

    &:first-child {
      bottom: 12px;
    }
    &:nth-child(2) {
      top: 8px;
      opacity: 0;
    }
    &:nth-child(3) {
      top: 11px;
    }
  }

  &:hover {

    span {
      background-color: $color-link-hover;
    }
  }
}

.transparent {
  opacity: 0;
}
.i-menu .rotate-top {
  left: 2px;
  transform: rotatez(45deg);
  -webkit-transform-origin: 0%;
}
.i-menu--mobile .rotate-top {
  left: 3px;
  transform: rotatez(45deg);
  -webkit-transform-origin: 0%;
}
.rotate-bottom {
  left: 2px;
  transform: rotatez(-45deg);
  -webkit-transform-origin: 15%;
}

.c-nav-fixed .i-menu {
    @include mappy-bp(0 1113px) {
    display: none;
  }
}

/* Service Icons -------------------- */

.i-frontend,
.i-backend,
.i-performance,
.i-seo {
	width: 5rem;
	height: 3.5rem;
	margin-bottom: 1rem;

    @include mappy-bp(medium) {
        // height: 4rem;
    }
}

/* Card Icons -------------------- */

.i-glasses {
    width: 1.5rem;
    height: 0.5rem;
    padding-top: 0.1rem;
    fill: $grey-light;
}

  .c-hero--static .i-glasses {
    fill: $black;
  }

.i-plane {
    width: 1.1rem;
    height: 0.65rem;
    fill: $grey-light;
}

.i-clock {
    width: 1.1rem;
    height: 0.65rem;
    fill: $grey-light;
}

.c-card-proj a:hover .i-glasses,
.c-card-prof a:hover .i-glasses,
.c-card-blog a:hover .i-glasses,
.c-card-prof a:hover .i-plane,
.c-card-blog a:hover .i-clock, {
    fill: $color-link-hover;
}

.i-crown {
  width: 1rem;
  height: 1rem;
  fill: $grey-lightest;
}

.i-cloud {
  width: 1.5rem;
  height: 1.5rem;
}

  .c-card-proj__more:hover .i-cloud {
    fill: $color-link-hover;
  }


/* Contact Icons -------------------- */

.i-email {
  width: 4rem;
  height: 4rem;
  margin-bottom: vr(1/2);
  fill: #888;
}

.i-form,
.i-phone {
    width: 3rem;
    height: 3rem;
    margin-bottom: vr(1/2);
    fill: #888;

    // @include mappy-bp(medium) {
    //     height: 4rem;
    // }
}

.i-send-form {
  width: 1.5rem;
  height: 1rem;
}

  .c-contact-form__submit-wrap:hover .i-send-form {
    fill: $color-link-hover;
  }

.c-contact__item.is-active .i-email,
.c-contact__item.is-active .i-form,
.c-contact__item.is-active .i-phone {
  fill: $black;
}

.c-contact__item:hover .i-email,
.c-contact__item:hover .i-form,
.c-contact__item:hover .i-phone {
  fill: $color-link-hover;
}

// make general rule for different groups of icons?
.i-instagram,
.i-dribbble,
.i-bulb,
.i-pen {
  display: none;

  @include mappy-bp(small) {
    display: initial;
  }
}

.i-instagram {
    width: 1.2rem;
    height: 1.2rem;
}

  .pushy .i-instagram {
    width: 1.25rem;
    height: 1.25rem;
    fill: #9a9a9a;
  }

.i-dribbble {
    width: 1.2rem;
    height: 1.2rem;
}

  .pushy .i-dribbble {
    width: 1.25rem;
    height: 1.25rem;
    fill: #9a9a9a;
  }

.i-bulb {
    width: 1.2rem;
    height: 1.2rem;
}

.i-pen {
    width: 1.2rem;
    height: 1.2rem;
}

a:hover .i-instagram,
a:hover .i-dribbble,
a:hover .i-bulb,
a:hover .i-pen {
    fill: $color-link-hover;
}

/* Misc Icons -------------------- */

// Dots
.i-dot,
.i-dot--small,
.i-dot--narrow {
  fill: $grey-lightest;
}

.i-dot {
  width: 5px;
  height: 5px;
  margin: 0 1rem;
}

  .i-dot--small {
    display: none;
    width: 4px;
    height: 4px;
    margin: 0 vr(1.5);

    @include mappy-bp(835px) { // tweakpoint
      display: block;
    }
  }

  .i-dot--narrow {
    width: 4px;
    height: 4px;
    margin: 0 vr(1/2);
  }

// Github
.i-github {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: vr(1/2);
    fill: #9a9a9a;

    &:hover {
      fill: $color-link-hover;
    }
}

  .pushy .i-github {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.75rem;
  }

// Particle
.i-particle {
    font-size: 180px;
    font-family: "arial", sans-serif;
    position: absolute;
    visibility: hidden;
    background: url($path-img + '/svg/petel.svg');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}


