
@import "../1-settings/_settings.colors.scss";

// ==========================================================================
// General Icon Styles
// ==========================================================================

.hide-svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}


// ==========================================================================
// SVG Styles
// ==========================================================================

/* Hero -------------------- */

// Logo
.i-logo {
  width: 3.8rem;
  height: 3.8rem;
  // transform-origin: top center;

  @include mappy-bp(medium) {
    // transform: scale(1.2);
    width: 4.8rem;
    height: 4.8rem;
  }
  @include mappy-bp(wide) {
    // transform: scale(1.2);
    width: 5.25rem;
    height: 5.25rem;
  }
}

  .c-nav-fixed .i-logo {
    height: 0;
  }

// Search
.i-search {
  position: relative;
  width: 1rem;
  height: 1rem;
  bottom: 1px;
  top: 0.02rem;
  right: 2.7rem;
  cursor: pointer;

  &:hover {
    fill: $color-link-hover;
  }
}

  #search-stick {
    fill: #fff;
  }

.c-nav-fixed .i-search {
  right: 2rem;
}

// Menu
button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.gh-svg-wrapper {
  display: block;
  position: absolute;
  height: 4rem;
  width: 4rem;
  right: -1.2rem;
  transform: translateZ(0) rotate(0deg);
  transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

  .c-nav-fixed .gh-svg-wrapper {
    left: initial;
    right: initial;

    @indclude mappy-bp(1113px) {
      right: -1.8rem;
    }
  }

.gh-svg-wrapper.is-active {
  transform: translateZ(0) rotate(90deg);
  transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.gh-svg {
  position: absolute;
  left: 0rem;
  top: 0;
  fill: $white;
  transform: translateZ(0) rotate(0deg);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

  .gh-svg-wrapper:hover .gh-svg {
    fill: $color-link-hover;
  }

.gh-svg-wrapper.is-active .gh-svg {
  transform: translateZ(0) rotate(45deg);
  transition: 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.gh-svg-wrapper.is-active .gh-svg-bottom {
  transform: translateZ(0) rotate(-45deg);
}

.gh-svg-rect {
  left: 0;
  top: 0;
  transition: transform 0.2s 0.2s;
}

.gh-svg-wrapper.is-active .gh-svg-rect {
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s;
}

.gh-svg-rect-top {
  transform: translate3d(0, -8px, 0);
}

.gh-svg-rect-bottom {
  transform: translate3d(0, 8px, 0);
}

/* Service Icons -------------------- */

.i-frontend,
.i-backend,
.i-performance,
.i-seo {
	width: 5rem;
	height: 3.5rem;
	margin-bottom: 1rem;

    @include mappy-bp(medium) {
        // height: 4rem;
    }
}

/* Card Icons -------------------- */

.i-glasses {
    width: 1.5rem;
    height: 0.5rem;
    padding-top: 0.1rem;
    fill: $grey-light;
}

  .c-hero--static .i-glasses {
    fill: $black;
  }

.i-plane {
    width: 1.1rem;
    height: 0.65rem;
    fill: $grey-light;
}

.i-clock {
    width: 1.1rem;
    height: 0.65rem;
    fill: $grey-light;
}

.c-card-proj a:hover .i-glasses,
.c-card-prof a:hover .i-glasses,
.c-card-blog a:hover .i-glasses,
.c-card-prof a:hover .i-plane,
.c-card-blog a:hover .i-clock, {
    fill: $color-link-hover;
}

.i-crown {
  width: 1.5rem;
  height: 1.5rem;
}

.i-ornament {
  width: 1.5rem;
  height: 1.5rem;
}

.i-cloud {
  width: 1.5rem;
  height: 1.5rem;
}

  .c-card-proj__more:hover .i-cloud {
    fill: $color-link-hover;
  }


/* Contact Icons -------------------- */

.i-email {
  width: 4rem;
  height: 4rem;
  margin-bottom: vr(1/2);
  fill: #888;
}

.i-form,
.i-phone {
    width: 3rem;
    height: 3rem;
    margin-bottom: vr(1/2);
    fill: #888;

    // @include mappy-bp(medium) {
    //     height: 4rem;
    // }
}

.i-send-form {
  width: 1.5rem;
  height: 1rem;
}

  .c-contact-form__submit-wrap:hover .i-send-form {
    fill: $color-link-hover;
  }

.i-double-tick-indicator {
  width: 1.5rem;
  height: 0.6rem;
}

  .c-card-proj a:hover .i-double-tick-indicator {
    fill: $color-link-hover;
  }

.c-contact__item.is-active .i-email,
.c-contact__item.is-active .i-form,
.c-contact__item.is-active .i-phone {
  fill: $black;
}

.c-contact__item:hover .i-email,
.c-contact__item:hover .i-form,
.c-contact__item:hover .i-phone {
  fill: $color-link-hover;
}

// make general rule for different groups of icons?
#contact .i-instagram,
#contact .i-dribbble,
.i-bulb,
.i-pen {
  display: none;

  @include mappy-bp(small) {
    display: initial;
  }
}

.i-instagram {
    width: 1.2rem;
    height: 1.2rem;
}

  .pushy .i-instagram {
    width: 1.25rem;
    height: 1.25rem;
    fill: #9a9a9a;
  }

.i-dribbble {
    width: 1.2rem;
    height: 1.2rem;
}

  .pushy .i-dribbble {
    width: 1.25rem;
    height: 1.25rem;
    fill: #9a9a9a;
  }

.i-bulb {
    width: 1.2rem;
    height: 1.2rem;
}

.i-pen {
    width: 1.2rem;
    height: 1.2rem;
}

a:hover .i-instagram,
a:hover .i-dribbble,
a:hover .i-bulb,
a:hover .i-pen {
    fill: $color-link-hover;
}

/* Misc Icons -------------------- */

// Dots
.i-dot,
.i-dot--small,
.i-dot--narrow {
  fill: $grey-lightest;
}

.i-dot {
  width: 5px;
  height: 5px;
  margin: 0 1rem;
}

  .i-dot--small {
    display: none;
    width: 4px;
    height: 4px;
    margin: 0 vr(1.5);

    @include mappy-bp(835px) { // tweakpoint
      display: block;
    }
  }

  .i-dot--narrow {
    width: 4px;
    height: 4px;
    margin: 0 vr(1/2);
  }

// Github
.i-github {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: vr(1/2);
    fill: #9a9a9a;

    &:hover {
      fill: $color-link-hover;
    }
}

  .pushy .i-github {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.75rem;
  }

// Particle
.i-particle {
    font-size: 180px;
    font-family: "arial", sans-serif;
    position: absolute;
    visibility: hidden;
    background: url($path-img + '/svg/petel.svg');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}


