
.c-showroom {
  position: relative;
  width: calc(100% - 3rem);
  max-width: 80rem;
  // top: -25rem;

  @include mappy-bp(600px) {
    width: calc(100% - 4rem);
  }

  @include mappy-bp(870px) {
    // top: -28rem;
  }
  @include mappy-bp(1200px) {
    width: calc(100% - 12rem);
    // top: -28rem;
  }
  @include mappy-bp(mega) {
    width: calc(100% - 14rem);
    // top: -25rem;

  }
}

  .c-showroom__center {
    width: 100%;

    @include mappy-bp(870px) {
      width: 65%;
    }
  }

  .c-showroom__top-text {
    width: 95%;
    max-width: 24rem;
    // padding-left: vr(1);
    margin-bottom: 2rem;

    @include mappy-bp(870px) {
      display: none;
    }
  }

  .c-showroom__img {
    width: 100%;
    margin-bottom: vr(1);
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.18);
  }

  .c-showroom__sidebar {
    display: none;
    width: 35%;
    padding: 5rem 0 0 2rem;

    @include mappy-bp(870px) {
      display: block;
    }
  }

  .c-showroom__link {
    padding: 0.32rem 0.5rem 0.22rem 0.5rem;
    background-color: $white;
    transition: none;

    p {
      line-height: 1;
      transition: none;
    }
    svg {
      fill: $black;
      transition: none;
    }

    &:hover {
      // background-color: #222;

      svg {
        fill: $color-link-hover;
      }
      p {
        color: $color-link-hover;;
      }
    }
  }

  .c-showroom__award {
    display: inline-block;

    div {
      display: flex;
      background-color: $white;
      padding: 0.15rem 0.5rem 0.12rem 0.5rem;
      align-items: center;
    }

    @include mappy-bp(0 1720) {
      display: none
    }
  }

  .i-taurus {
    width: 1rem;
    height: 0.8rem;
  }




